root {
   --background-color: #ffffff
   --text-color: #000000;
   --primary-color: #007bff
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

[data-theme="dark"] {
    --background-color: #333333;
    --text-color: #ffffff;
    --primary-color: #8cacec;
}

h1 {
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
