:root {
    color-scheme: light dark;
    color: light-dark(#000000, #FFFFFF);
    background-color: light-dark(#FFFFFF, #000000);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

body {
    margin: 0 auto;
    max-width: 36em;
    padding: 50px;
    {style: type(text/css);
    text-decoration: none;
      }
      .navbar{
        background: grey; font-family: calibri; padding-right: 15px; padding-left: 15px;
        }
      .navdiv{
        display: flex; justify-content: space-evenly;
      }
      .logo a{
        font-size: 35px; font-weight: 600; color: white; 
      }
      li{ 
        list-style: none; display: inline-block; 
      }
      li a{
        color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
      }

}

